<.header>
  New Practitioner role
  <:subtitle>Use this form to manage practitioner_role records in your database.</:subtitle>
</.header>

<.practitioner_role_form changeset={@changeset} action={~p"/practitioner_roles"} />

<.back navigate={~p"/practitioner_roles"}>Back to practitioner_roles</.back>
