<.header>
  Hospital <%= @hospital.id %>
  <:subtitle>You are trying to modify the api key of: <%= @hospital.name %></:subtitle>
</.header>
<.list>
  <:item title="Name"><%= @hospital.name %></:item>
  <:item title="Api Key"><%= @hospital.api_key_not_confirmed %></:item>
</.list>
<.link navigate={~p"/hospitals/#{@hospital.id}/save_api_key"}>Save API Key</.link>
<.back navigate={~p"/hospitals"}>Back to hospitals</.back>