<.header>
  New Hospital
  <:subtitle>Use this form to manage hospital records in your database.</:subtitle>
</.header>

<.hospital_form changeset={@changeset} action={~p"/hospitals"} />

<.back navigate={~p"/hospitals"}>Back to hospitals</.back>
