<.header>
  New Practitioner
  <:subtitle>Use this form to manage practitioner records in your database.</:subtitle>
</.header>

<.practitioner_form changeset={@changeset} action={~p"/practitioners"} />

<.back navigate={~p"/practitioners"}>Back to practitioners</.back>
