<.header>
  Edit Observation <%= @observation.id %>
<:subtitle>Use this form to manage observation records in your database.</:subtitle>
</.header>

<.observation_form changeset={@changeset} patients={@patients} practitioners={@practitioners} action={~p"/observations/#{@observation}"} />

<.back navigate={~p"/observations"}>Back to observations</.back>
