<.header>
  New Patient
  <:subtitle>Use this form to manage patient records in your database.</:subtitle>
</.header>

<.patient_form changeset={@changeset} patients={@patients} genders={@genders} action={~p"/patients"} />

<.back navigate={~p"/patients"}>Back to patients</.back>
