<.header>
  New Condition
  <:subtitle>Use this form to manage condition records in your database.</:subtitle>
</.header>

<.condition_form changeset={@changeset} patients={@patients} practitioners={@practitioners} action={~p"/conditions"} />

<.back navigate={~p"/conditions"}>Back to conditions</.back>
