<.header>
  New Gender
  <:subtitle>Use this form to manage gender records in your database.</:subtitle>
</.header>

<.gender_form changeset={@changeset} action={~p"/genders"} />

<.back navigate={~p"/genders"}>Back to genders</.back>
